.nav {
  text-align: center;
  margin-bottom: 2.5em;
}

.nav__item {
  padding: 1em 2em;
  margin: 0 2em;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  background: transparent;
  border: 1px solid var(--main);
  color: var(--main);
}

.selected {
  color: red;
  background: var(--main);
  color: white;

}